<?xml version="1.0"?>
<robot name="indomitus_rover" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Main robot description -->
  <xacro:include filename="$(find indomitus_rover_description)/urdf/indomitus_rover_s1.urdf.xacro"/>

  <!-- Gazebo plugins -->
  <xacro:include filename="$(find indomitus_rover_sim)/urdf/gazebo_plugins.urdf.xacro"/>

</robot>