<?xml version="1.0"?>
<robot name="indomitus_s1" xmlns:xacro="https://www.ros.org/wiki/xacro">

  <xacro:arg name="name" default=""/>
  <xacro:property name="_name" value="$(arg name)"/>
  <xacro:if value="${_name != ''}">
    <xacro:property name="tf_prefix" value="${_name}/"/>
  </xacro:if>
  <xacro:if value="${_name == ''}">
    <xacro:property name="tf_prefix" value=""/>
  </xacro:if>

  <xacro:include filename="$(find indomitus_rover_description)/urdf/suspension.urdf.xacro"/>
  <xacro:include filename="$(find indomitus_rover_description)/urdf/rocker.urdf.xacro"/>
  <xacro:include filename="$(find indomitus_rover_description)/urdf/wheel.urdf.xacro"/>

  <xacro:suspension xyz="0 0 0.4" tf_prefix="${tf_prefix}"/>
  <xacro:rocker name="left"  xyz="0 0.305 0"  side="1"  base_axii="suspension_base_link" tf_prefix="${tf_prefix}"/>
  <xacro:rocker name="right" xyz="0 -0.305 0" side="-1" base_axii="suspension_base_link" tf_prefix="${tf_prefix}"/>

  <xacro:wheel name="front_left"  x="0.53" y="0" z="0" side="1" base_rocker="left" tf_prefix="${tf_prefix}"/>
  <xacro:wheel name="front_right" x="0.53" y="0" z="0" side="-1" base_rocker="right" tf_prefix="${tf_prefix}"/>

  <xacro:wheel name="back_left"  x="-0.53" y="0" z="0" side="1"  base_rocker="left" tf_prefix="${tf_prefix}"/>
  <xacro:wheel name="back_right" x="-0.53" y="0" z="0" side="-1" base_rocker="right" tf_prefix="${tf_prefix}"/>

</robot>
